body {
    background: #000000;
    background-image: url(../img/jevil-back.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.jevil {
    position: fixed;
    right: 30px;
    height: 200px;
    width: 200px;
    background: transparent;
    top: 50%;
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: 150px;
    image-rendering: pixelated
}

.kris {
    position: fixed;
    top: 40px;
    left: 20px;
    height: 200px;
    width: 200px;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 150px;
    image-rendering: pixelated;
}

.text-display {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: #000000;
    font-size: 70px;
    font-family: 'Determination';
    color: #ffffff;
}

.kris-options {
    position: fixed;
    bottom: 25%;
    width: 33.33333333333333%;
    height: 70px;
    background: black;
    transition: 0.1s;
    left: 0;
    z-index: 501;
}

.kris-options .face {
    position: absolute;
    left: 20px;
    height: 60px;
    top: 5px;
    background: white;
    width: 60px;
    background: url(../img/ui/kris/face.png);
    background-repeat: no-repeat;
    background-size: 60px;
    image-rendering: pixelated;
}

.kris-options .nameplate {
    left: 100px;
    position: absolute;
    background: url(../img/ui/kris/name.png);
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    image-rendering: pixelated;
    top: 15px;
}

.health-bar {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 20px;
    width: 45%;
    background: red;
}

.health-bar-amount {
    background: #00A2E8;
    width: 100%;
    height: 100%;
}

.kris-famisd {
    background: #000000;
    position: fixed;
    bottom: 25%;
    left: 0;
    width: 33.33333333333333%;
    height: 70px;
    z-index: 500;
}

.fight {

}

.susie {
    position: fixed;
    top: 170px;
    left: 20px;
    height: 200px;
    width: 200px;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 170px;
    image-rendering: pixelated;
}

canvas {
    background: black;
    border: 5px solid lime;
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -50px;
    transform: scale(0.0) rotate(-180deg);
    transition: 0.5s;
}

.susie-options {
    position: fixed;
    bottom: 25%;
    width: 33.33333333333333%;
    height: 70px;
    background: black;
    transition: 0.1s;
    left: 33.33333333333333%;
    z-index: 501;
}

.susie-options .face {
    position: absolute;
    left: 20px;
    height: 60px;
    top: 5px;
    background: white;
    width: 60px;
    background: url(../img/ui/susie/face.png);
    background-repeat: no-repeat;
    background-size: 60px;
    image-rendering: pixelated;
}

.susie-options .nameplate {
    left: 100px;
    position: absolute;
    background: url(../img/ui/susie/name.png);
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    image-rendering: pixelated;
    top: 15px;
}

.susie-health-bar-color {
    background: #ff00ff;
}

.ralsei-health-bar-color {
    background: #00ff00;
}

.susie-famisd {
    background: #000000;
    position: fixed;
    bottom: 25%;
    left: 33.33333333333333%;
    width: 33.33333333333333%;
    height: 70px;
    z-index: 500;
}

.ralsei-options {
    position: fixed;
    bottom: 25%;
    width: 33.33333333333333%;
    height: 70px;
    background: black;
    transition: 0.1s;
    right: 0;
    z-index: 501;
}

.ralsei-options .face {
    position: absolute;
    left: 20px;
    height: 60px;
    top: 5px;
    background: white;
    width: 60px;
    background: url(../img/ui/ralsei/face.png);
    background-repeat: no-repeat;
    background-size: 60px;
    image-rendering: pixelated;
}

.ralsei-options .nameplate {
    left: 100px;
    position: absolute;
    background: url(../img/ui/ralsei/name.png);
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    image-rendering: pixelated;
    top: 15px;
}

.ralsei-famisd {
    background: #000000;
    position: fixed;
    bottom: 25%;
    right: 0;
    width: 33.33333333333333%;
    height: 70px;
    z-index: 500;
}

.ralsei {
    position: fixed;
    top: 260px;
    left: 80px;
    height: 200px;
    width: 200px;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100px;
    image-rendering: pixelated;
}